.news {
    display: block!important;
    background-size: cover;
    background-position: 0 0;
    transition: all .3s ease-in-out;
    position: relative;
    .middle, .small {
        z-index: 1;
        position: relative;
    }
    &:hover {
        color: white;
        &::before {
            background-color: rgba(8, 128, 174, 0.8);
        }
    }
    &::before {
        transition: all .3s ease-in-out;
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(45, 45, 45, 0.3);

    }
}
